@import "./pages.css";
/* 课程样式 */
html,
body {
  width: 100%;
  font-size: 14px;
}
/* 我的套餐样式---tab */
.tab {
  margin: 20px 50px 45px 40px;
  overflow: hidden;
}
.tab span {
  color: #666464;
  font-size: 16px;
  line-height: 32px;
  float: left;
}

.tab ul {
  float: left;
  overflow: hidden;
}

.tab ul li {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  color: #666464;
  margin-right: 20px;
  border-radius: 16px;
  float: left;
  cursor: pointer;
}

.tab ul li:last-child {
  margin-right: 0;
}

.tab ul li.active {
  background: rgba(118, 48, 161, 0.1);
  color: #7630a1;
}
/* 我的套餐样式---tab切换内容 */
.tab-content {
  margin: 0 50px 0 40px;
  display: none;
}
.tab-content-item {
  width: 238px;
  height: 238px;
  float: left;
  margin-right: 35px;
  margin-bottom: 35px;
  border: 1px solid #e6e6e6;
  border-radius: 9px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  position: relative;
}
.tab-content-item:nth-child(3n) {
  margin-right: 0;
}
.tab-content-item a,
.tab-content-item img {
  width: 100%;
  height: 160px;
  display: block;
}
.tab-content-item p {
  color: #666464;
  font-size: 16px;
  margin: 10px 10px 0;
  line-height: 22px;
  border-top: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.tab-content-item:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.tab-content-mask.expire {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.tab-content-mask.expire img {
  width: 120px;
  height: 120px;
  margin: 20px 0 0 60px;
}
/* 在线答疑-无数据 */
.zxdy-noData {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.zxdy-noData p {
  color: #a8a5a5;
  margin-top: 20px;
}

/* 在线答疑-数据列表 */
.zxdy {
  padding-top: 25px;
}
.zxdy-item {
  margin: 0 40px 25px;
}
.zxdy-item h6 {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 21px;
}
.zxdy-item h6 i {
  position: absolute;
  top: 0;
  left: -40px;
  width: 4px;
  height: 22px;
  background: #a646cc;
  opacity: 0.3;
}
.zxdy-item .zxdy-type {
  margin-bottom: 11px;
}
.zxdy-item .zxdy-type span {
  padding-right: 20px;
}
.zxdy-item .zxdy-type span img {
  vertical-align: middle;
  padding-right: 4px;
}
.zxdy-item .zxdy-img {
  margin-bottom: 10px;
}
.zxdy-item .zxdy-img img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.zxdy-item .zxdy-desc {
  color: #666464;
  margin-bottom: 10px;
}
.zxdy-item .zxdy-time {
  font-size: 12px;
  color: #a8a5a5;
  margin-bottom: 20px;
}
.zxdy-item .zxdy-line {
  width: 100%;
  height: 1px;
  background: #f7f7f7;
  margin-bottom: 20px;
}
.zxdy-item .zxdy-btn {
  text-align: right;
}
.zxdy-item .zxdy-btn div {
  width: 98px;
  height: 34px;
  line-height: 34px;
  border-radius: 18px;
  border: 1px solid #a646cc;
  font-size: 14px;
  color: #a646cc;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.zxdy-item .zxdy-btn .hover:hover {
  color: #fff;
  background: linear-gradient(270deg, #a646cc 0%, #d27ce8 100%);
}
.zxdy-item .zxdy-btn .await-reply {
  width: 100px;
  height: 36px;
  background: #f2f2f2;
  border-radius: 18px;
  border: 0;
  color: #a8a5a5;
}
.zxdy-item .zxdy-btn .view-reply {
  margin-right: 20px;
}
/* 我的班主任 */
.bzr {
  padding: 0 40px;
  position: relative;
}
.bzr h6 {
  line-height: 72px;
  border-bottom: 1px solid #f7f7f7;
  color: #242324;
  font-size: 16px;
  margin-bottom: 20px;
}

.bzr h6 img {
  vertical-align: middle;
  margin-left: 4px;
}

.bzr ul li {
  line-height: 20px;
  margin-bottom: 20px;
  padding-right: 10px;
}

.bzr ul li .label {
  color: #a8a5a5;
}

.bzr ul li .lookCode {
  color: #a646cc;
}

.bzr .teacherImg {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 93px;
  right: 200px;
}
