/* 公共样式 */
body {
  background: #f7f7f7;
  font-size: 14px;
  color: #242324;
}
.body {
  min-width: 1200px;
}

.main {
  width: 1100px;
  margin: 10px auto 20px;
  position: relative;
}
.slider {
  width: 200px;
  border-radius: 4px;
  float: left;
}
.content {
  width: 880px;
  min-height: 714px;
  background: #fff;
  border-radius: 8px 8px 0px 0px;
  float: right;
}
#message {
  display: none;
  height: 713px;
  background: #fff;
  border-radius: 8px 8px 0px 0px;
}
/* 头部 */
.head {
  width: 100%;
  height: 308px;
  background: url(../images/bg_mine.png) top center no-repeat;
}
.head .top {
  width: 100%;
  height: 48px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.head .w1100 {
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}
.head .top .buy {
  float: right;
  margin-top: 13px;
}
.head .top .info {
  float: right;
  height: 100%;
  margin-top: 6px;
  margin-right: 18px;
  position: relative;
}
.head .top .info ul {
  width: 120px;
  position: absolute;
  top: 43px;
  left: -34px;
  background: #fff;
  border-radius: 4px;
  display: none;
}
.head .top .info:hover ul {
  display: block;
}
.head .top .info ul li {
  text-align: center;
  line-height: 39px;
  border-bottom: 1px solid #f5f5f5;
}
.head .top .info ul li img {
  margin-right: 8px;
}
.head .top .info ul li:first-child {
  color: #7630a1;
  line-height: 48px;
}
.head .top .info ul li:last-child {
  border-bottom: 0;
}

.head .middle {
  margin-top: 94px;
}

.head .middle img {
  width: 72px;
  height: 72px;
  border: 100%;
  float: left;
  vertical-align: middle;
  margin-right: 16px;
}

.head .middle .telName {
  float: left;
}

.head .middle .telName p {
  color: #fff;
}
.head .middle .telName .tel {
  font-size: 24px;
  line-height: 33px;
}
.head .middle .telName .name {
  font-size: 20px;
  line-height: 28px;
}

.head .middle .date {
  width: 335px;
}

.nav {
  width: 1100px;
  margin: -30px auto 0;
  border-radius: 8px 8px 0px 0px;
}
.nav ul {
  font-size: 0;
}
.nav ul li {
  width: 220px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  display: inline-block;
  border-right: 1px solid #f7f7f7;
  box-sizing: border-box;
  background: #fff;
  vertical-align: bottom;
  font-size: 16px;
  cursor: pointer;
  color: #666464;
}

.nav ul li:last-child {
  border-top-right-radius: 8px;
  border-right: 0;
}
.nav ul li:first-child {
  border-top-left-radius: 8px;
}
.nav ul li.active {
  height: 70px;
  line-height: 70px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #242324;
}

.nav ul li img {
  margin-right: 8px;
}

/* 在线答疑 */

.zxdy-ask {
  position: fixed;
  top: 374px;
  right: 326px;
  cursor: pointer;
  display: none;
}
.zxdy-ask p {
  text-align: center;
  color: #a646cc;
}

.zxdy-ask-box,
.zxdy-ask-view,
.grsz-mobile,
.wddd-order,
.shdz-address,
.grxx-edit-tel {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.zxdy-ask-box > div,
.zxdy-ask-view > div {
  width: 720px;
  height: 720px;
  background: #fff;
  border-radius: 16px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.zxdy-ask-box {
  overflow-y: auto;
}
.zxdy-ask-box .close,
.zxdy-ask-view .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.zxdy-ask-box h6 {
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 37px;
}
.zxdy-ask-box .zxdy-ask-from {
  margin-left: 40px;
}
.zxdy-ask-box .zxdy-from-item {
  margin-bottom: 20px;
}
.zxdy-from-label {
  font-size: 16px;
  line-height: 22px;
  float: left;
}
.zxdy-from-block {
  float: left;
}

.zxdy-from-item .zxdy-from-block p {
  color: #a8a5a5;
  font-size: 12px;
}

.zxdy-from-item .zxdy-from-block ul {
  width: 502px;
  background: #fffeff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  display: none;
}
.zxdy-from-item .zxdy-from-block ul li {
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  border-radius: 16px;
  font-size: 14px;
  margin-right: 12px;
  float: left;
  font-size: 14px;
  color: #666464;
  cursor: pointer;
}

.zxdy-from-item .zxdy-from-block ul li.active {
  background: rgba(118, 48, 161, 0.1);
  color: #7630a1;
}

.zxdy-from-item .zxdy-from-block p span {
  color: #7630a1;
  font-size: 16px;
  padding-right: 20px;
  cursor: pointer;
}
.zxdy-from-item .zxdy-from-block .theme {
  width: 348px;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  line-height: 30px;
  padding-left: 10px;
}
.zxdy-from-block .desc {
  width: 351px;
  height: 128px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding-top: 7px;
  padding-left: 10px;
  size: none;
}
.zxdy-from-item .zxdy-from-block.block {
  margin-left: 80px;
}
.zxdy-from-item .zxdy-from-block .upload {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  vertical-align: bottom;
}

.zxdy-from-item .zxdy-from-block .zxdy-upload {
  display: inline-block;
}

.zxdy-from-item .zxdy-from-block .zxdy-upload span {
  color: #a8a5a5;
  font-size: 12px;
}
.zxdy-from-item .zxdy-from-block .imgList {
  float: left;
  /* display: none; */
}
.zxdy-from-item .imgList .img-item {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  position: relative;
  border-radius: 4px;
  float: left;
}
.zxdy-from-item .imgList .img-item .img {
  width: 100%;
  height: 100%;
}
.zxdy-from-item .imgList .img-item p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.4);
}
.zxdy-from-item .imgList .img-item .img-delete {
  width: 16px;
  height: 16px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
.zxdy-btn {
  margin-left: 120px;
  margin-bottom: 40px;
  width: 136px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  background: linear-gradient(to left, #a646cc, #d27ce8);
}

.zxdy-ask-view h6 {
  margin: 21px 0 21px 40px;
  font-size: 16px;
}

.zxdy-ask-view .zxdy-type {
  margin-bottom: 11px;
  margin-left: 40px;
}
.zxdy-ask-view .zxdy-type span {
  padding-right: 20px;
}
.zxdy-ask-view .zxdy-type span img {
  vertical-align: middle;
  padding-right: 4px;
}
.zxdy-ask-view .zxdy-img {
  margin-bottom: 10px;
  margin-left: 40px;
  display: none;
}
.zxdy-ask-view .zxdy-img img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.zxdy-ask-view .zxdy-desc {
  color: #666464;
  margin-bottom: 10px;
  margin-left: 40px;
}
.zxdy-ask-view .zxdy-time {
  font-size: 12px;
  color: #a8a5a5;
  margin-bottom: 20px;
  margin-left: 40px;
}
.zxdy-ask-view .zxdy-line {
  height: 1px;
  background: #f7f7f7;
  margin: 0 40px;
}
.zxdy-ask-view .answer-list {
  height: 560px;
  overflow-y: auto;
  margin: 0 30px;
}
.zxdy-ask-view .answer-item {
  border-radius: 4px;
  padding: 20px 10px 10px 22px;
  border-bottom: 1px solid #f7f7f7;
}
.zxdy-ask-view .answer-item:hover {
  background: #fcfafc;
}
.zxdy-ask-view .answer-item:hover .btn_ask {
  visibility: initial;
}
.zxdy-ask-view .answer-item .answer {
  font-size: 14px;
  color: #666464;
  line-height: 22px;
  position: relative;
}
.zxdy-ask-view .answer-item .answer i {
  width: 2px;
  height: 14px;
  background: #f85959;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: -10px;
}
.zxdy-ask-view .answer-item .answer-time {
  float: left;
  color: #a8a5a5;
  font-size: 12px;
  margin-top: 10px;
}
.zxdy-ask-view .answer-item .btn_ask {
  float: right;
  color: #a8a5a5;
  font-size: 12px;
  margin-top: 9px;
  cursor: pointer;
  visibility: hidden;
}

.zxdy-ask-view .answer-item .answer-zw {
  background: #fff;
  border-radius: 4px;
  padding: 10px 0 20px 10px;
  margin: 9px auto 0;
  display: none;
}
.zxdy-ask-view .answer-item .answer-zw-item {
  margin-top: 20px;
}
.zxdy-ask-view .answer-item .answer-zw-btn {
  margin: 0;
  margin-left: 80px;
  margin-top: 40px;
  cursor: pointer;
}

/* 题库 */
/* 我的错题-错题统计提示 */
.tip {
  padding: 6px 10px;
  font-style: 13px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -13px;
  right: -260px;
  border-radius: 5px;
  z-index: 99999;
  display: none;
}

.tip::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 8px solid rgba(0, 0, 0, 0.75);
  position: absolute;
  bottom: -8px;
  left: 38px;
}

.dtTooltip {
  right: -274px;
}

/* 个人设置-修改手机号 */
.grsz-mobile {
  display: none;
}
.grsz-mobile > div {
  width: 640px;
  height: 403px;
  background: #fff;
  border-radius: 16px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.grsz-mobile h6 {
  padding-top: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 24px;
  line-height: 33px;
}
.grsz-mobile .grsz-mobile-from {
  margin-left: 84px;
}
.grsz-mobile .current {
  margin-bottom: 20px;
}

.grsz-mobile .mobile-label {
  width: 96px;
  line-height: 32px;
  float: left;
  font-size: 16px;
  text-align: right;
}
.grsz-mobile .mobile-item input {
  width: 348px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  float: left;
}
.grsz-mobile .mobile-item .code {
  float: left;
}
.grsz-mobile .current input {
  background: #f7f7f7;
  color: #a8a5a5;
}
.grsz-mobile .code input {
  width: 148px;
}

.grsz-mobile .getCode {
  width: 88px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #a646cc;
  font-size: 14px;
  color: #a646cc;
  float: left;
  margin-left: 20px;
  cursor: pointer;
}

.grsz-mobile .error {
  font-size: 13px;
  color: #f85959;
  line-height: 18px;
  height: 18px;
  margin: 4px 0 20px 106px;
}

.from-btn {
  margin-left: 180px;
  margin-top: 40px;
}

.from-btn div {
  width: 136px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.from-btn .confirm {
  margin-right: 20px;
  color: #fff;
  background: linear-gradient(270deg, #a646cc 0%, #d27ce8 100%);
}
.from-btn .cancel {
  border: 1px solid #a8a5a5;
  color: #a8a5a5;
}

/* 我的订单-取消订单弹窗 */
.wddd-order > div {
  width: 420px;
  height: 207px;
  background: #fff;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 16px;
}
.wddd-order .title {
  font-size: 16px;
  color: #a646cc;
  line-height: 22px;
  margin: 20px 0;
  text-align: center;
}
.wddd-order h6 {
  font-size: 18px;
  color: #242324;
  line-height: 25px;
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
}

.wddd-order .order-btn > div {
  width: 136px;
  height: 40px;
  background: linear-gradient(270deg, #a646cc 0%, #d27ce8 100%);
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.wddd-order .order-btn .cancel {
  background: #ffffff;
  border: 1px solid #a8a5a5;
  color: #a8a5a5;
  margin-left: 64px;
  margin-right: 20px;
}

/* 收货地址弹窗 */
.shdz-address > div {
  width: 640px;
  height: 434px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background: #fff;
}
.shdz-address h6 {
  font-size: 24px;
  color: #242324;
  line-height: 33px;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 40px;
}
.shdz-from {
  margin-left: 100px;
}
.shdz-address .shdz-from-item {
  margin-bottom: 20px;
}
.shdz-address .shdz-from-item:last-child {
  margin-bottom: 0;
}
.shdz-address .shdz-from-item .shdz-from-label {
  width: 80px;
  float: left;
  line-height: 32px;
  text-align: right;
}
.shdz-address .shdz-from-item .layui-input-inline {
  width: 158px;
  height: 30px;
  background: #ffffff;
  border-radius: 4px;
}
.shdz-address .shdz-from-item input {
  width: 348px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  color: #a8a5a5;
}
.shdz-address .shdz-from-item .layui-input-inline .layui-form-select,
.shdz-address .shdz-from-item .layui-input-inline input {
  width: 100%;
}
.shdz-address .layui-form-select dl dd,
.shdz-address .layui-form-select dl dt {
  line-height: 28px;
  color: #a8a5a5;
}
.shdz-address .layui-form-select dl {
  max-height: 206px;
}
.shdz-address .layui-form-select dl dd.layui-this {
  background: #f7f7f7;
}
.shdz-address .telError {
  font-size: 13px;
  color: #f85959;
  line-height: 18px;
  margin-top: 5px;
  margin-left: 84px;
  display: none;
}
.shdz-address .shdz-btn {
  margin-top: 40px;
}
.shdz-address .shdz-btn > div {
  width: 136px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}
.shdz-address .confirm {
  background: linear-gradient(270deg, #a646cc 0%, #d27ce8 100%);
  color: #fff;
  margin-left: 180px;
  margin-right: 20px;
}
.shdz-address .cancel {
  background: #ffffff;
  border: 1px solid #a8a5a5;
  color: #a8a5a5;
}

/* 个人信息 修改手机号 */
.grxx-edit-tel {
  overflow: hidden;
}
.grxx-edit-tel h6 {
  font-size: 24px;
  color: #242324;
  line-height: 33px;
  margin: 30px 0 40px 0;
  text-align: center;
}
.grxx-edit-tel > div {
  width: 640px;
  height: 403px;
  background: #fff;
  border-radius: 16px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.grxx-edit-tel .grxx-edit-from {
  margin-left: 84px;
  margin-right: 100px;
}

.grxx-edit-tel .grxx-edit-item {
  overflow: hidden;
}
.grxx-edit-tel .grxx-edit-item p {
  font-size: 13px;
  color: #f85959;
  margin-left: 105px;
  visibility: hidden;
  float: left;
}

.grxx-edit-tel .grxx-edit-label {
  float: left;
  width: 96px;
  text-align: right;
  line-height: 32px;
}

.grxx-edit-tel input {
  float: left;
  width: 348px;
  height: 30px;
  line-height: 30px;
  background: #ffffff;
  padding-left: 10px;
  border-radius: 4px;
  margin-bottom: 4px;
  border: 1px solid #e5e5e5;
}

.grxx-edit-tel .tel {
  margin-bottom: 20px;
}

.grxx-edit-tel .tel input {
  background: #f7f7f7;
}

.grxx-edit-tel .code-input {
  width: 148px;
}

.grxx-edit-tel .edit-getCode {
  padding: 6px 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #a646cc;
  margin-left: 20px;
  float: left;
  color: #A646CC;
  cursor: pointer;
}

.grxx-edit-tel .grxx-edit-btn {
  margin-top: 20px;
}

.grxx-edit-tel .grxx-edit-btn div {
  width: 136px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.grxx-edit-tel .grxx-edit-btn .confirm {
  color: #fff;
  margin-left: 180px;
  margin-right: 20px;
  background: linear-gradient(270deg, #a646cc 0%, #d27ce8 100%);
}

.grxx-edit-tel .grxx-edit-btn .cancel {
  background: #ffffff;
  color: #a8a5a5;
  border: 1px solid #a8a5a5;
}
