/* 系统消息 */
html,body{
  width: 100%;
  height: 100%;
}
/* 无数据 */
.noData {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.noData img {
  margin-bottom: 20px;
}