@import "./pages.css";
/* 我的试卷样式---tab */
body {
  overflow: hidden;
}
.tab {
  margin: 0 40px 25px 30px;
  padding-top: 20px;
}
.tab > div {
  display: block;
  padding: 10px 10px 0 10px;
}
.tab > div.shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.tab > div:last-child {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 20px;
}
.tab span {
  color: #666464;
  font-size: 16px;
  line-height: 32px;
  float: left;
}
.tab span i {
  font-style: initial;
}

.tab ul {
  width: 690px;
  float: left;
  height: 32px;
  overflow: hidden;
}

.tab ul li {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  color: #666464;
  margin-right: 20px;
  border-radius: 16px;
  float: left;
  cursor: pointer;
  margin-bottom: 10px;
}

.tab ul li:last-child {
  margin-right: 0;
}

.tab ul li.active {
  background: rgba(118, 48, 161, 0.1);
  color: #7630a1;
}

.tab .show {
  font-size: 16px;
  color: #a8a5a5;
  float: right;
  cursor: pointer;
}

.tab .show img {
  margin-left: 4px;
  vertical-align: middle;
}

.question-content {
  margin: 0 36px 41px;
  padding-bottom: 110px;
}
.question-content .question-item {
  width: 185px;
  height: 100px;
  float: left;
  margin-right: 20px;
}
.question-content .question-item:last-child {
  margin-right: 0;
}
.question-content > div {
  margin-bottom: 30px;
}
.question-content > div:nth-child(1) .question-item {
  background: url(../images/cover_ver1.png) center center no-repeat;
  background-size: 100% 100%;
}
.question-content > div:nth-child(2) .question-item {
  background: url(../images/cover_ver2.png) center center no-repeat;
  background-size: 100% 100%;
}
.question-content > div:nth-child(3) .question-item {
  background: url(../images/cover_ver3.png) center center no-repeat;
  background-size: 100% 100%;
}
.question-content > div:nth-child(4) .question-item {
  background: url(../images/cover_ver4.png) center center no-repeat;
  background-size: 100% 100%;
}
.question-content > div:nth-child(4) {
  margin-bottom: 0;
}

.question-content .question-item p {
  margin: 0 12px;
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
  line-height: 14px;
}

.question-content .question-item a {
  display: block;
  margin: 20px auto 0;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 20px;
}

.question-content .question-item .continue {
  background: linear-gradient(90deg, #f4db47 0%, #e6b422 100%);
}
.question-content .question-item .start {
  background: linear-gradient(90deg, #f6e8ae 0%, #eacd76 100%);
}

.question-content .pages {
  margin-bottom: 0;
}

/* 我的错题 */
.mistake ul{
  padding-bottom: 120px;
}
.mistake {
  padding-bottom: 40px !important;
}